{% extends 'landlord/base.html' %}
{% load static %}

{% block messageCss %}
<style>
.text-lowercase {
    text-transform: lowercase !important;
}
.message-tab .tab-link-highlight {
    display: none;
}
.message-toolbar {
    background-color: #fff;
    box-shadow: none;
}
.tab-link-active strong:after {
    content:""; 
    float:left; 
    background: #007aff; 
    width:120%; 
    height:3px; 
    border-radius: 3px;
}
.property-container {
    background-color: aliceblue;
    border-radius: 3px;
}
.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /* border: 2px solid white; */
}
.image-cropper-user {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /* border: 2px solid white; */
}

img.property-sms-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.property-name {
    text-transform: capitalize !important;
    font-weight: bold;
}
.message-preview {
    font-family: 'Muli', sans-serif;
    color: #444;
    font-size: x-small;
    line-height: 1;
}
.message-time {
    color: #007aff;
    font-weight: 600;
    font-size: x-small;
}
.text-view-details {
    text-decoration: underline;
    font-size: small;
}
.text-view-details:hover {
    color: #007aff;
}
.short-bio {
    border: 1px solid #c4c4c4;
    padding: 10px;
    border-radius: 5px;
}
.chip-color {
    background: #007aff;
    color: #fff;
}
</style>
{% endblock messageCss %}
    
{% block landlord_content %}
<div class="page-content">
     <!-- SECTION User Greetings and User Icon -->
     <div class="row padding-horizontal padding-top">
        <div class="col-100">
            <div class="float-left">
                <h1 class="username">Messages</h1>
            </div>
            <div class="float-right">
                <div class="float-right margin-right margin-top">
                    <a href="{% url 'user:user_profile' pk=user.pk %}" class="link external">
                        <img src="{{ user.userprofile.picture55.url }}" alt="View User" style="border-radius: 50%;">
                 
                    </a>
                </div>
            </div>
        </div><!--col-100 end-->
    </div><!--row end--> 

    
    {% if property_list %}
        <div class="toolbar tabbar message-toolbar">
            <div class="toolbar-inner message-tab">
                <!-- SECTION Unread -->
                <a href="#tab-1" class="tab-link text-lowercase tab-link-active">
                    <div class="row">
                        <div class="col-60 ">
                            <strong>inbox</strong>
                        </div>
                        <div class="col-40 float-left">
                            <span class="badge color-blue">{{ room_list.count }}</span>
                        </div>
                    </div>
                </a>
                <!-- SECTION Unread end -->
                <!-- SECTION read -->
                <a href="#tab-2" class="tab-link text-lowercase">
                    <div class="row">
                        <div class="col-75 ">
                            <strong>applications</strong>
                        </div>
                        <div class="col-25 float-left">
                            <span class="badge color-blue">{{ application_count }}</span>
                        </div>
                    </div>
                </a>
                <!-- SECTION read end -->
            </div>
        </div>
        <div class="tabs-swipeable-wrap">
            <div class="tabs">
                <div id="tab-1" class="page-content tab tab-active">
                    <!-- SECTION Create a Reminder or a New Message -->
                    <div class="row">
                        <div class="col-50 padding-horizontal text-align-right">
                            <a href="{% url 'landlord:reminder_create' %}" class="link external">
                                <div class="chip chip-color">
                                    <div class="chip-media chip-color">
                                        <i class="icon f7-icons">bell_circle</i>
                                    </div>
                                    <div class="chip-label">New Reminder</div>
                                </div>
                            </a><!--link end-->
                        </div><!--col-50 end-->
                        <div class="col-50 text-align-left">
                            <a href="#" class="notify-due-date link external">
                                <div class="chip chip-color">
                                    <div class="chip-media chip-color">
                                        <i class="icon f7-icons">envelope_circle</i>
                                    </div>
                                    <div class="chip-label">Notify Due Date</div>
                                </div>
                            </a>
                        </div><!--col-50 end-->
                    </div><!--row end-->
                    <!-- SECTION Create a Reminder or a New Message end-->

                <!-- SECTION Messages -->
                <div class="block">    
                    {% for room in room_list %}
                        <div class="property-container padding-half margin-bottom-half">
                            <div class="row">
                                <div class="col-20">
                                    <div class="image-cropper align-self-center">
                                        {% if not room.dorm %}
                                            {% for member in room.members.all %}
                                                {% if member != user %}
                                                    <img class="property-sms-img" src="{{ member.userprofile.picture.url }}" class="rounded" />
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <img class="property-sms-img" src="{{ room.dorm.thumbnail.url }}" class="rounded" />
                                        {% endif %}
                                    </div>
                                </div><!--col-20 end-->
                                <div class="col-80 property-name">
                                    <a href="#" class="link external room-name-submit">
                                        <div class="row">
                                            <div class="col-100">
                                                <p class="no-margin room-name">{{ room.name }}</p>
                                            </div>
                                            <div class="col-100">
                                                <div class="message-time padding-bottom-half">
                                                    
                                                    {% if room.message_set.last.created_at %}
                                                        {{ room.message_set.last.created_at }}
                                                    {% else %}
                                                        {{ room.created_at }}
                                                    {% endif %}
                                                        
                                                </div>
                                            </div>
                                            <div class="col-100">
                                                <div class="message-preview">
                                                    <!-- Preview of last message -->
                                                    
                                                    {% if room.message_set.last.content %}
                                                        {{ room.message_set.last.content }}
                                                    {% else %}
                                                        No new messages.
                                                    {% endif %}
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </a><!--a end-->


                                    </div><!--col-80 end-->
                                </div><!--row end-->
                        </div><!--property-container end-->
                    {% endfor %}
                        
                </div>
            </div>
            <div id="tab-2" class="page-content tab">
                <div class="block">
                    {% for property in property_list %}
                        {% if property.name in active_applications %}
                            <div class="margin-bottom-half" style="font-size: 20px;">
                                <b>{{ property.name }}</b>
                            </div>
                            {% for application in application_list %}
                                {% if application.dorm == property %}
                                    <div class="property-container padding-half margin-bottom-half">
                                        <div class="row">
                                            <div class="col-20">
                                                <div class="image-cropper align-self-center">
                                                    <img class="property-sms-img" src="{{ application.tenant.userprofile.picture.url }}" class="rounded" />
                                                </div>
                                            </div><!--col-20 end-->
                                            <div class="col-80 align-self-center property-name">
                                                {% if application.tenant.userprofile.first_name %}
                                                    {{ application.tenant.userprofile.first_name }} {{ application.tenant.userprofile.last_name }}
                                                {% else %}
                                                    {{ application.tenant.userprofile.user }}
                                                {% endif %}
                                                
                                                <div class="message-time padding-bottom-half">
                                                    {{ application.created_at }}
                                                </div>
                                                <div class="message-preview">
                                                    <!-- Preview of last message -->
                                                    <span class="text-view-details sheet-open" data-sheet=".my-sheet-swipe-to-close{{ application.pk }}">View Details</span>
                                                </div>
                                            </div><!--col-80 end-->
                                        </div><!--row end-->
                                    </div><!--property-container end--> 

                                    <div class="sheet-modal my-sheet-swipe-to-close{{ application.pk }}" style="height:auto; --f7-sheet-bg-color: #fff;">
                                        <div class="sheet-modal-inner">
                                            <div class="page-content">
                                                <div class="row">
                                                    <div class="col-70">
                                                            {% if application.tenant.userprofile.first_name %}
                                                                <div class="block-title block-title-large no-margin-bottom">{{ application.tenant.userprofile.first_name }} {{ application.tenant.userprofile.last_name }}</div>
                                                            {% else %}
                                                                <div class="block-title block-title-large no-margin-bottom">{{ application.tenant.userprofile.user }}</div>
                                                            {% endif %}
                                                                
                                                        <b class="padding-left">{{ application.tenant.userprofile.birthday }}</b>
                                                    </div><!--col-70 end-->
                                                    <div class="col-30 padding">
                                                        <div class="padding-top image-cropper-user align-self-center">
                                                            <img class="property-sms-img" src="{{ application.tenant.userprofile.picture.url }}" class="rounded" />
                                                        </div>
                                                    </div><!--row end-->
                                                    <div class="col-100">
                                                        <div class="block no-margin-top">
                                                            <p class="no-margin"><b>Email: </b><b class="color-scheme1">{{ application.tenant.email }}</b></p>
                                                            <p class="no-margin"><b>Phone Number: </b><b class="color-scheme1">{{ application.tenant.userprofile.number }}</b></p>
                                                            <p class="no-margin-top"><b>Preferred Move in Date: </b><b class="color-scheme1">{{ application.move_in_date }}</b></p>
                                                            <b>Short Bio:</b>
                                                            <div class="short-bio">
                                                                {{ application.bio }}
                                                            </div><!--short-bio end-->
                                                            <!-- SECTION Approve Disapprove -->
                                                            <div class="row padding-top">
                                                                <div class="col-50">
                                                                    <a class="link external" href="{% url 'landlord:disapprove_application' pk=application.pk %}" style="width: 100%;">
                                                                        <button class="col button button-raised button-fill color-red">Disapprove</button>
                                                                    </a>
                                                                </div><!--col-50 end-->
                                                                <div class="col-50">
                                                                    <a class="link external col-100" href="{% url 'landlord:approve_application' pk=application.pk %}"  style="width: 100%;">
                                                                        <button class="col button button-raised button-fill">Approve</button>
                                                                    </a>
                                                                </div><!--col-50 end-->
                                                            </div><!--row end-->
                                                        </div><!--block end-->
                                                    </div>
                                                </div><!--page-content end-->
                                            </div><!--sheet-modal-inner end-->
                                        </div><!--sheet-modal end-->
                                    </div>
                                
                                {% endif %}

                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                        
                </div><!--tab2 end-->
            </div><!--tabs end-->
        </div><!--tabs-swieable-wrap end-->
    {% else %}
        <!-- SECTION Image -->
        <div class="row padding-vertical">
            <div class="col-100 text-align-center">
                <img src="{% static 'home/images/empty-messages.png' %}" alt="Empty Message Image">
            </div>
        </div><!--row end-->
        <!-- SECTION Empty Home -->
        <div class="row text-align-center">
            <div class="col-100">
                <h2>No Messages</h2>
            </div>
        
        </div><!--end row-->
        <div class="row">
            <div class="col-100">
                
                <div class="text-align-center home-subtext margin-horizontal no-margin margin-bottom-half">
                    Market your property and connect with your tenants now!
                </div>
            </div>
        </div>
        <!-- SECTION Button -->
        <div class="row color-scheme1">
            <div class="col-100 text-align-center no-margin-right no-padding-right">
                <a href="{% url 'landlord:property_create' %}" class="link external">
                    <span class="search-text">Create Property &#8921;</span>
                </a>
            </div>
        </div><!--row end-->
    {% endif %}
        


        
</div><!--page-content end-->
{% endblock landlord_content %}
    



{% block landlordJs %}
<script src="{% static '/plugins/jquery/jquery.js' %}"></script>
<script>
    $(document).ready(function(){
        $('a.message-tab').addClass('tab-link-active');
        $('a.message-tab i.f7-icons').addClass('size-40');
        $('.tab-link-highlight').remove();


        $('.room-name-submit').click(function(){
            this_room_first = $(this)
            room = this_room_first.find('.room-name').html();
            console.log(room);
            redirectToRoom(room);
        });

        function redirectToRoom(roomName){
            window.location.pathname = '/tenant/dorm/messages/' + roomName + '/';
        }


    });

app.sheet.create({
    el: '.my-sheet-swipe-to-view-details',
    swipeToClose: true,
    swipeToStep: true,
    backdrop: true,
});

// var $$ = Dom7;
//         var toastMessage = "Your tenants have been notified about their payments."

//         $('.notify-due-date').click(function(){
//             var toastLargeMessage = app.toast.create({
//                 text: toastMessage,
//                 closeButton: true,
//             });
//             toastLargeMessage.open();
//         });

// Confirm
$$('.notify-due-date').on('click', function () {
    app.dialog.confirm('You are about to notify all your tenants about their payment due date. Keep in mind that once you confirm, the amount will be automatically to their balance. Notify? ', function () {
        app.dialog.alert('Your tenants are notified');
        window.location.replace("{% url 'landlord:due_date' %}");
        // {% url 'landlord:due_date' %}
    });
});
</script>
{% endblock landlordJs %}