{% extends 'landlord/base.html' %}
{% load static %}

{% block landlord_content %}
<div class="tabs-swipeable-wrap">
    <div class="page-content">

        <div class="row">
            <div class="col-25">
                <div class="padding">
                <!-- TODO Create a function to return to previous link -->
                <!-- NOTE This a link is just temporary -->
                    <a href="{% url 'landlord:landlord_home' %}" class="link external">
                        <div class="row back-btn">
                            <div class="col-10">
                                <i class="f7-icons">chevron_left</i>
                            </div>
                            <div class="col-90 padding-left text-large">
                                Back
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-50 text-align-center">
                <div class="padding">
                    <h2 class="no-margin">Add Property</h2>
                </div>
            </div>

            <div class="col-25"></div>
        </div>

        <div class="row ">
            <div class="col-100 add-property-margin">
                <form method="POST" enctype="multipart/form-data" id="create_property_form">
                    {% csrf_token %}

                        <div class="list no-hairlines-md no-margin-bottom">
                            <ul>
                            <!-- SECTION Property Name -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">
                                        {{ form.name.label_tag }}
                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.name}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Property Type end-->

                            <!-- SECTION Property Name -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">
                                        {{ form.property_type.label_tag }}
                                        
                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.property_type}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Property Type end-->

                            <!-- SECTION Address -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">{{ form.address.label_tag }}

                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.address}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Address end-->

                            <!-- SECTION Lat -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">{{ form.latitude.label_tag }}

                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.latitude}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Lat end-->

                            <!-- SECTION Lng -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">{{ form.longitude.label_tag }}

                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.longitude}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Lng end-->


                            <!-- SECTION Capacity -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">{{ form.capacity.label_tag }}

                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.capacity}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Capacity end-->


                            <!-- SECTION Security deposit -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">{{ form.deposit.label_tag }}

                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.deposit}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Security deposit end-->


                            <!-- SECTION Monthly Payment -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">{{ form.price.label_tag }}

                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.price}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Monthly Payment end-->


                            <!-- SECTION Thumbnail -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">{{ form.thumbnail.label_tag }}

                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.thumbnail}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Thumbnail end-->


                            <!-- SECTION Description -->
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">{{ form.description.label_tag }}

                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.description}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Description end-->


                            <!-- SECTION Short Description -->
                            <li class="padding-horizontal padding-top-half">
                                <h4 class="no-padding no-margin">Tagline</h4>
                                <span class="helping-text">
                                    This will be your Dormitory tagline and wil appear when browsing dormitories
                                </span>
                            </li>
                            <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                    <div class="item-title item-floating-label margin-bottom-half signin-label">{{ form.tagline.label_tag }}

                                    </div>
                                    <div class="item-input-wrap">
                                        {{form.tagline}}
                                    </div>
                                </div>
                            </li>
                            <!-- SECTION Short Description end-->

                            <!-- ANCHOR FEATURES -->
                            <h3 class="color-scheme1 padding-left">Features and Inclusions</h3>
                            <!-- SECTION Is Airconditioned -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_air_conditioned}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_air_conditioned.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Airconditioned end-->


                            <!-- SECTION Is Ceiling Fans -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_ceiling_fans}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_ceiling_fans.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Ceiling Fans end-->


                            <!-- SECTION Is Sink -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_sink}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_sink.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Sink end-->

                            <!-- SECTION Is Garbage Disposal -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_garbage_disposal}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_garbage_disposal.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Garbage Disposal end-->


                            <!-- SECTION Is Hardwood Floors -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_hardwood_floors}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_hardwood_floors.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Hardwood Floors end-->


                            <!-- SECTION Is Internet -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_internet}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_internet.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Internet end-->


                            <!-- SECTION Is Microwave -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_microwave}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_microwave.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Microwave end-->


                            <!-- SECTION Is Refrigerator -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_refrigerator}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_refrigerator.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Refrigerator end-->


                            <!-- SECTION Is Storage -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_storage}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_storage.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Storage end-->


                            <!-- SECTION Is Stove -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_stove}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_stove.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Stove end-->


                            <!-- SECTION Is Telephone -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_telephone}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_telephone.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Telephone end-->


                            <!-- SECTION Is Tile -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_tile}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_tile.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Tile end-->


                            <!-- SECTION Is Window Covering -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_window_covering}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_window_covering.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Window Covering end-->


                            <!-- SECTION Is Laundry -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_laundry}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_laundry.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Laundry end-->


                            <!-- SECTION Is Parking -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_parking}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_parking.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Parking end-->


                            <!-- SECTION Is Furnished -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_furnished}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_furnished.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Furnished end-->

                            <!-- SECTION Is Pets Allowed -->
                            <li class="padding-left">
                                <label class="item-checkbox item-content">
                                    {{form.is_pets_allowed}}
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">{{form.is_pets_allowed.label_tag}}</div>
                                    </div>
                                </label>
                            </li>
                            <!-- SECTION Is Pets Allowed end-->
                    
                            </ul>
                    <!-- SECTION Custom Image Upload -->
                    <div class="row padding image-custom-upload">
                        <div class="col-100">
                            <div class="padding dashed-repeating-gradient">
                                <div class="row">
                                    <div class="col-30">
                                        <img id="property-image-default" src="{% static 'landlord/images/image_upload_icon.png' %}" alt="Upload Image">
                                    </div>
                                    <div class="col-70">
                                        <span class="color-scheme1 upload-text">Upload a Photo</span>
                                        <br>
                                        <span class="thumbnail-description">This photo will represent your property listing in the market.</span>
                                    </div>
                                </div>
                            </div><!--image upload container end-->
                        </div><!--col-100 end-->
                    </div><!--row end-->
                    <!-- SECTION Custom Image Upload End -->
                        </div><!--list-->
                        
                    <!-- SECTION Submit Button -->
                    <div class="text-align-center padding-vertical submit-btn-container">
                        <input type="submit" class="submit-btn button button-raised button-fill button-round" value="Submit"> 
                    </div>

                    </form>
                    
            </div>
        </div>

    </div><!--page-content-->
</div><!--swipeable wrap-->
{% endblock landlord_content %}


{% block landlordJs %}
<!-- Algolia -->

<script>
    $('#id_thumbnail').parent().addClass('image-upload-container');
    $('.image-custom-upload').insertBefore('#id_thumbnail');
    $('#id_thumbnail').addClass('upload-btn-hide');

    // SECTION Function to Preview Uploaded Image
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
            $('#property-image-default').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_thumbnail").change(function() {
        readURL(this);
    });

    var pickerPropertyType = app.picker.create({
    inputEl: '#id_property_type',
    cols: [
      {
        textAlign: 'center',
        values: ['Solo Rooms', 'Bed Spacer', 'Mixed']
      }
    ]
    });
    // item-content item-input item-input-outline
    // $('#id_is_air_conditioned').parent().parent().parent().removeClass('item-content item-input item-input-outline');
    // alert($('#id_is_air_conditioned').parent().parent().parent().html());
</script>
{% endblock landlordJs %}
    