{% extends 'landlord/base.html' %}
{% load static %}

{% block propertyCss %}
<style>

.accordion {
  font-size: 1rem;
  width: 30vw;
  margin: 0 auto;
  border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 1.5em 1.5em;
  background: #3F51B5;
  color: white;
  cursor: pointer;
  font-size: .8em;
  letter-spacing: .1em;
  transition: all .3s;
  text-transform: uppercase;
  font-weight: bold;

}
.accordion-header.properties {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.accordion-header.properties.active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.accordion__item {
    border-bottom: 1px solid #007aff;
}

.accordion__item .accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordion-header:hover {
  background: #2D3D99;
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: #fcfcfc;
  color: #353535;
  display: none;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  font-size: .85em;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  content: "\f106";
  font-family: 'Font Awesome 5 Free';
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: .3s all;
  transform: rotate(0deg);
  font-weight: 900;
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
  background: #007aff;
}

.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: #353535;
}

@media screen and (max-width: 1000px) {

  .accordion {
    width: 100%;
  }
}
</style>
{% endblock propertyCss %}
    
{% block landlord_content %}
<div class="tabs-swipeable-wrap">
    <div class="page-content">
        <div class="block">

            <!-- SECTION User Greetings and User Icon -->
            <div class="row">
                <div class="col-100">
                    <div class="float-left">
                        <h1 class="username">Hello {{ user.username }}!</h1>
                    </div>
                    <div class="float-right">
                        <div class="float-right margin-right margin-top">
                            <a href="{% url 'user:user_profile' pk=user.pk %}" class="link external">
                                {% if user.userprofile.picture55.url %}
                                  <img src="{{ user.userprofile.picture55.url }}" alt="View User" style="border-radius: 50%;">
                                {% else %}
                                  <img src="{% static 'user/images/default-user-profile-image.png' %}" alt="View User" style="border-radius: 50%;">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div><!--col-100 end-->
            </div><!--row end--> 

            <!--SECTION QUICK BUTTONS -->
            <div class="row justify-content-center text-align-center padding-top">
                <!-- SECTION Add Tenant -->
                <div class="col-33">
                    <a href="{% url 'landlord:add_tenant' %}" class="link external">
                        <div class="row">
                            <div class="col-100">
                                <img src="{% static 'landlord/images/buttons/add_new_tenant.png' %}" alt="Add New Tenant" style="border-radius: 50%;">
                            </div><!--col-100 end-->
                            <div class="col-100">
                                <span class="quick-btn-text">
                                    add new <br> tenant
                                </span>
                            </div><!--col-100 end-->
                        </div><!--row end-->
                    </a>
                </div>
                <!-- SECTION Add Expense -->
                <div class="col-33">
                    <a href="{% url 'landlord:add_payment' %}" class="link external">
                        <div class="row">
                            <div class="col-100">
                                <img src="{% static 'landlord/images/buttons/add_new_expense.png' %}" alt="Add New Expense">
                            </div>
                            <div class="col-100">
                                <span class="quick-btn-text">
                                    add new <br> expense
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- SECTION Add Property -->
                <div class="col-33">
                    <a href="{% url 'landlord:property_create' %}" class="link external">
                        <div class="row">
                            <div class="col-100">
                                <img src="{% static 'landlord/images/buttons/add_new_property.png' %}" alt="Add New Property">
                            </div><!--col-100 end-->
                            <div class="col-100">
                                <span class="quick-btn-text">
                                    add new <br> property
                                </span>
                            </div><!--col-100 end-->
                        </div><!--row end-->
                    </a>
                </div>
            </div><!--row end-->

            <!-- SECTION Properties -->
            <!-- <div class="row padding-top-half">
                <div class="col-100">
                    <div class="card card-outline card-property">
                        <div class="card-content card-content-padding no-padding-top">
                            <div class="row">
                                <div class="col-60 text-color-white">
                                    <h2 class="card-label">Properties</h2>
                                    <div class="card-label-small">
                                        Your properties all in one place! Click here to view all your properties
                                    </div>
                                </div>col-50 end
                                <div class="col-40 padding margin-top justify-content-center text-align-center">
                                    <div class="numberCircle">
                                            21
                                    </div>
                                </div>col-50 end
                            </div>row end
                        </div>
                    </div>
                </div>col-100 end
            </div>row end -->

            
            <!-- {% for property in property_list %}     
                
                <div class="row padding-top-half">
                    <div class="col-100">
                        <div class="card card-outline">
                            <div class="card-header"><a class="link external" href="{% url 'landlord:property_detail' pk=property.pk %}">{{ property.name }}</a></div>
                            <div class="card-content card-content-padding">{{ property.address }}</div>
                        </div>
                    </div>
                </div>

            {% endfor %} -->
            
            <!-- SECTION Property List-->
            <div class="accordion js-accordion padding-top-half">
                <div class="accordion__item js-accordion-item active">
                  <div class="accordion-header js-accordion-header properties">PROPERTIES <span class="badge color-blue">{{ property_numbers }}</span></div> 
                <div class="accordion-body js-accordion-body">
                  <!-- <div class="accordion-body__contents">
                        <strong>Total Properties : </strong>21
                  </div> -->
                    <div class="accordion js-accordion">
                        {% for property in property_list %}     
                        <div class="accordion__item js-accordion-item">
                            <div class="accordion-header js-accordion-header color-scheme1">{{ property.name }}</div> 
                            <div class="accordion-body js-accordion-body">
                                <div class="accordion-body__contents">
                                    <!-- <img class="property-image-default" src="{{ property.thumbnail }}" alt="{{ property.name }} Image"> -->
                                    <img class="property-image-default" src="{{ property.thumbnail.url }}" alt="{{ property.name }} Image">
                                    <div class="view-details">
                                        <a class="link external  text-align-center justify-content-center" href="{% url 'landlord:property_detail' pk=property.pk %}">
                                            <div class="text-color-white text-align-center">
                                                View Details
                                            </div>
                                        </a>
                                    </div>
                                    <br>
                                    <strong>Address: </strong>
                                    {{ property.address }}
                                    <br>
                                    <strong>Capacity: </strong>
                                    {{ property.capacity }}
                                    <a href="" class="view-slots-left">{{ property.slots }} slots left</a>
                                </div><!-- end of sub accordion item body contents -->
                            </div><!-- end of sub accordion item body -->
                        </div><!-- end of sub accordion item -->
                        {% endfor %}
                

                    </div><!-- end of sub accordion -->
                  </div
                  </div><!-- end of accordion body -->
                </div><!-- end of accordion item -->
                    <div class="padding">
                        <!-- Place Other Data Here -->

                    </div>
              </div><!--accordion item end-->

              <!-- SECTION Tenant List-->
              <div class="accordion js-accordion padding-top-half">
                <div class="accordion__item js-accordion-item active">
                  <div class="accordion-header js-accordion-header properties">TENANTS</div> 
                <div class="accordion-body js-accordion-body">
                  <!-- <div class="accordion-body__contents">
                        <strong>Total Properties : </strong>21
                  </div> -->
                    <div class="accordion js-accordion">
                        {% for property in property_list %}     
                        <div class="accordion__item js-accordion-item">
                          <div class="accordion-header js-accordion-header color-scheme1">{{ property.name }}</div> 
                          <div class="accordion-body js-accordion-body">
                              <div class="accordion-body__contents">
                                  
                                  {% if property.addtenant_set.all %}
                                    {% for tenant in property.addtenant_set.all %}
                                      <div class="row padding" style="border-bottom: 3px solid #c4c4c4;">
                                        <div class="col-70">
                                          <a class="sheet-open tenant-sheet" href="#" data-sheet=".my-sheet-swipe-to-step-profile{{ tenant.pk }}">
                                            {% if tenant.account.userprofile.last_name and tenant.account.userprofile.first_name %}
                                              {{tenant.account.userprofile.last_name }}, {{tenant.account.userprofile.first_name }} 
                                            {% else %}
                                              {{tenant.account.email}}
                                            {% endif %}   
                                ]          </a>  
                                          <!-- Swipe to step sheet -->
                                          <div class="sheet-modal my-sheet-swipe-to-step-profile{{ tenant.pk }}" style="height:auto; --f7-sheet-bg-color: #fff;">
                                            <div class="sheet-modal-inner">
                                              <div class="sheet-modal-swipe-step">
                                                  <div class="display-flex padding justify-content-space-between align-items-center">
                                                    <div class="block-title block-title-medium margin-half "><b>
                                                      {{ tenant.account.userprofile.first_name }} {{tenant.account.userprofile.last_name }}</b></div>
                                                    <div class="float-right" >
                                                      {% if tenant.account.userprofile.picture55.url %}
                                                        <img src="{{ tenant.account.userprofile.picture55.url }}" alt="View User" style="border-radius: 50%;">
                                                      {% else %}
                                                        <img src="{% static 'user/images/default-user-profile-image.png' %}" alt="View User" style="border-radius: 50%;">
                                                      {% endif %}
                                                    </div>
                                                  </div>
                                                  <div class="padding-horizontal padding-bottom">
                                                    <p class="no-margin"><b>Email: </b><b class="color-scheme1">{{ tenant.account.email }}</b></p>
                                                    <p class="no-margin"><b>Phone Number: </b><b class="color-scheme1">{{ tenant.account.userprofile.number }}</b></p>
                                                    <p class="no-margin"><b>Guardian's Name: </b><b class="color-scheme1">{{ tenant.account.userprofile.emergency_name }}</b></p>
                                                    <p class="no-margin"><b>Guardian's Number: </b><b class="color-scheme1">{{ tenant.account.userprofile.emergency_phone }}</b></p>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col-100 padding">
                                                        <a class="link external col-100" href="{% url 'landlord:remove_tenant' pk=tenant.pk %}" style="width: 100%;">
                                                            <button class="col button button-raised button-fill button-large color-red" style="width: 100%;">Remove Tenant</button>
                                                        </a>
                                                    </div><!--col-50 end-->
                                                </div><!--row end-->
                                              </div>
                                            </div>
                                          </div>
                                        
                                        </div>
                                        <div class="col-30">
                                          
                                          <span class="badge color-green padding-horizontal-half">{{ tenant.room_description }}</span>
                                            
                                        </div>
                                      </div><!-- end of sub accordion item body contents -->

                                    {% endfor %}
                                  {% else %}
                                    No Tenant in this Property                             
                                  {% endif %}
                                    

                                    
                                </div><!-- end of sub accordion item body contents -->
                                
                              </div><!-- end of sub accordion item body -->
                          </div><!-- end of sub accordion item -->

                        {% endfor %}
                    </div>
                  </div><!-- end of accordion body -->
                </div><!-- end of accordion item -->

              </div><!--accordion item end-->
            </div><!--accordion end-->
          <!-- SECTION Tenant List -->

            </div><!--accordion end-->
          <!-- SECTION Property List -->
            
        </div><!--block end-->
    </div><!--page-content-->
</div><!--swipeable wrap-->
{% endblock landlord_content %}
    

{% block landlordJs %}
<script>
    $('a.home-tab').addClass('tab-link-active');
    $('a.home-tab i.f7-icons').addClass('size-40');
    $('.tab-link-highlight').remove();

var accordion = (function(){
  
  var $accordion = $('.js-accordion');
  var $accordion_header = $accordion.find('.js-accordion-header');
  var $accordion_item = $('.js-accordion-item');

  // default settings 
  var settings = {
    // animation speed
    speed: 2000,
    
    // close all other accordion items if true
    oneOpen: false
  };
    
  return {
    // pass configurable object literal
    init: function($settings) {
      $accordion_header.on('click', function() {
        accordion.toggle($(this));
      });
      
      $.extend(settings, $settings); 
      
      // ensure only one accordion is active if oneOpen is true
      if(settings.oneOpen && $('.js-accordion-item.active').length > 1) {
        $('.js-accordion-item.active:not(:first)').removeClass('active');
      }
      
      // reveal the active accordion bodies
      $('.js-accordion-item.active').find('> .js-accordion-body').show();
    },
    toggle: function($this) {
            
      if(settings.oneOpen && $this[0] != $this.closest('.js-accordion').find('> .js-accordion-item.active > .js-accordion-header')[0]) {
        $this.closest('.js-accordion')
                .find('> .js-accordion-item') 
                .removeClass('active')
                .find('.js-accordion-body')
                .slideUp()
      }
      
      // show/hide the clicked accordion item
      $this.closest('.js-accordion-item').toggleClass('active');
      $this.next().stop().slideToggle(settings.speed);
    }
  }
})();

$(document).ready(function(){
  accordion.init({ speed: 500, oneOpen: true });
});

    // Create swipe-to-step Sheet
app.sheet.create({
  el: '.my-sheet-swipe-to-step-profile',
  swipeToClose: true,
  swipeToStep: true,
  backdrop: true,
  on:{
    opened: function(){
      console.log(document.getElementsByClassName('.my-sheet-swipe-to-step-profile').innerHTML)
    }
  }
});

  
</script>
{% endblock landlordJs %}
    