{% extends 'landlord/base.html' %}
{% load static %}

{% block messageCss %}
<style>
.text-lowercase {
    text-transform: lowercase !important;
}
.message-tab .tab-link-highlight {
    display: none;
}
.message-toolbar {
    background-color: #fff;
    box-shadow: none;
}
.tab-link-active strong:after {
    content:""; 
    float:left; 
    background: #2c9bf3; 
    width:120%; 
    height:3px; 
    border-radius: 3px;
}
.property-container {
    background-color: aliceblue;
    border-radius: 3px;
}
.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /* border: 2px solid white; */
}
.image-cropper-user {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /* border: 2px solid white; */
}

img.property-sms-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.property-name {
    text-transform: capitalize !important;
    font-weight: bold;
}
.message-preview {
    font-family: 'PT Sans Caption', sans-serif;
    color: #444;
    font-size: x-small;
    line-height: 1;
}
.message-time {
    color: #2c9bf3;
    font-weight: 600;
    font-size: x-small;
}
.text-view-details {
    text-decoration: underline;
    font-size: small;
}
.text-view-details:hover {
    color: #2c9bf3;
}
.short-bio {
    border: 1px solid #c4c4c4;
    padding: 10px;
    border-radius: 5px;
}
</style>
{% endblock messageCss %}
    
{% block landlord_content %}
<div class="page-content">
    <!-- SECTION Back Button and Label -->
    <div class="row">
        <div class="col-25">
            <div class="padding">
                <!-- TODO Create a function to return to previous link -->
                <!-- NOTE This a link is just temporary -->
                <a href="{% url 'landlord:landlord_home' %}" class="link external">
                    <div class="row back-btn">
                        <div class="col-10">
                            <i class="f7-icons">chevron_left</i>
                        </div>
                        <div class="col-90 padding-left back-btn">
                            Back
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-75 padding-left">
            <h2>Add Reminder</h2>
        </div>
    </div>
    <!-- SECTION Back Button and Label end -->

    <!-- SECTION Form -->
    <a class="item-link smart-select smart-select-init" data-open-in="sheet">
        <select name="mac-windows">
          <option value="mac" selected>Mac</option>
          <option value="windows">Windows</option>
        </select>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title">Mac or Windows</div>
          </div>
        </div>
      </a>
    <!-- SECTION Form end -->

</div><!--page-content end-->
{% endblock landlord_content %}
    



{% block landlordJs %}
<script src="{% static '/plugins/jquery/jquery.js' %}"></script>
<script>
    $(document).ready(function(){
        $('a.message-tab').addClass('tab-link-active');
        $('a.message-tab i.f7-icons').addClass('size-40');
        $('.tab-link-highlight').remove();
    });
    
</script>
{% endblock landlordJs %}