{% extends 'home/base.html' %}
{% load static %}

{% block css %}
    <style>
        img.property-sms-img {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
        }
        .image-cropper-ind {
            width: 50px;
            height: 50px;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            /* border: 2px solid white; */
        }
        .message-avatar{
            opacity: 100 !important;
        }
        .message-name{
            display: block !important;
        }
        .toolbar-bottom{
            display: none !important;
        }
        .send-name, .receive-name {
            display: none !important;
        }
        /* .remove-name {
            display: none !important;
        } */
        .display-name {
            display: inline-block !important;
        }
        #chat-message-submit {
            background: #007aff;
            color: #fff;
            border: 0;
        }
        .toolbar {
            bottom: 0;
            position: fixed;
        }
        .md .messagebar-area {
            margin: 0 !important;
        } 
    </style>
{% endblock css %}
    

{% block home_content %}

<div class="page-content no-padding">
    <!-- SECTION Back Button -->
     <div class="row">
         <div class="col-15 padding-top-half padding-left">
             <div class="padding-top">
             <!-- TODO Create a function to return to previous link -->
             <!-- NOTE This a link is just temporary -->
                
                {% if user.user_type == "Landlord" %}
                <a href="{% url 'landlord:landlord_messages' %}" class="link external">
                {% else %}
                <a href="{% url 'tenant:messages' %}" class="link external">
                {% endif %}
                    
                     <div class="row back-btn">
                         <div class="col-10">
                             <i class="f7-icons">chevron_left</i>
                         </div>
                     </div>
                 </a>
             </div>
         </div><!--col-25 end-->
         <div class="col-85 padding-top">
             <div class="row">
                 <div class="col-20">
                     <div class="image-cropper-ind align-self-center">
                         <img class="property-sms-img" src="{{ dorm.dorm.thumbnail.url }}" class="rounded" />
                     </div>
                 </div><!--ccol-30 end-->
                 <div class="col-80 align-self-center">
                     <div class="row">
                         <div class="col-100">
                             <b class="text-capitalize text-size-large">{{ room_name }}</b>
                         </div>
                         <div class="col-100">
                             <span class="online-label"></span>
                         </div>
                     </div>
                     
                 </div><!--ccol-30 end-->
             </div><!--row end-->
         </div><!--col-25 end-->
     </div><!--row end-->
    <!-- SECTION Back Button end -->
 
 
    <!-- SECTION First Convo -->
    <!-- <div class="page"> -->
    <div class="page-content messages-content no-padding">
        <div class="messages" id="chat-log">
            <!-- Messages -->

        </div>
    </div>
</div><!--page-content end-->
            <div class="toolbar messagebar">
                <div class="toolbar-inner">
                    <div class="messagebar-area">
                        <textarea id="chat-message-input" class="resizable" placeholder="Message"></textarea>
                    </div>
                        <input id="chat-message-submit" type="button" class="link send-link" value="Send"></input>
                </div>
            </div>
   <!-- </div> -->
    <!-- SECTION First Convo end -->


{% endblock home_content %}

{% block homeJs %}
<script src="{% static 'plugins/jquery/jquery.js' %}"></script>
<script src="{% static 'tenant/js/reconnecting-websocket.js' %}"></script>
    
<script>
    var roomName = "{{ room_name|escapejs }}";
    var username = "{{ username|escapejs }}";

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/tenant/dorm/messages/' + roomName + '/');

    chatSocket.onopen = function(e){
        fetchMessages();
        var scrollBottom = $(window).scrollTop() + $(window).height();
        $('.page-content').animate({ scrollTop: $('.page-content').offset().top }, 'slow');
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if(data['command'] === 'messages'){
            msgLength = data['messages'].length;

            for(let i=0; i < msgLength; i++){
                createMessage(data['messages'][i]);
            } 
        } else if (data['command'] === 'new_message') {
                createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from' : username,
            'room': roomName,
        }));

        messageInputDom.value = '';
    };

    function createMessage(data){
        // var data = JSON.parse(e.data);
        // var message = data['message'];
        var author = data['author'];

        var msg = document.createElement('div');
        var msgImage = document.createElement('img');
        msgImage.setAttribute('class', 'message-avatar');
        var msgContent = document.createElement('div');
        msgContent.setAttribute('class', 'message-content');
        msgName = document.createElement('div');
       
        var msgBubble = document.createElement('div');
        msgBubble.setAttribute('class', 'message-bubble');
        var msgText = document.createElement('div');
        msgText.setAttribute('class', 'message-text');
        msgText.textContent = data.content;
        
        
        if(author === username){
            msg.className = 'message message-sent';
            authorSend = author;
            msgName.textContent = authorSend;
            msgName.setAttribute('class', 'message-name send-name');
            
            // to detect the 2nd to the last child
            $('#chat-log div.message-sent:nth-last-of-type(1)').addClass('second_to_last');
            $('#chat-log div.message-sent:nth-last-of-type(2)').removeClass('second_to_last');
            // to get the last child
            // $('#chat-log div.message-sent:last-child').find('.send-name').removeClass('send-name');
            $('#chat-log div.message-sent').find('.send-name').removeClass('send-name');
            
            // var $content = $("#chat-log div.message-sent").filter(function() {
                //     return $(this).contents().length === 1;
                // }).find('.send-name').removeClass("send-name");
                
                // to detect the 2nd to the last child
                if ( $('#chat-log div.message-sent:nth-last-of-type(2)').is('.message-sent') ) {
                    $('#chat-log div.message-sent:nth-last-of-type(1)').find('.message-name').remove();
                }
                
                
            } else {
                msg.className = 'message message-received';
                authorReceived = author;
                msgName.textContent = authorReceived;
                msgName.setAttribute('class', 'message-name receive-name');
                
                // to detect the 2nd to the last child
                $('#chat-log div.message-received:nth-last-of-type(1)').addClass('second_to_last');
                $('#chat-log div.message-received:nth-last-of-type(2)').removeClass('second_to_last');
                // to get the last child
                // $('#chat-log div.message-received:last-child').find('.receive-name').removeClass('receive-name');
                $('#chat-log div.message-received').find('.receive-name').removeClass('receive-name');
                
                
                
                // to detect the 2nd to the last child
                if ( $('#chat-log div.message-received:nth-last-of-type(2)').is('.message-received') ) {
                    $('#chat-log div.message-received:nth-last-of-type(1)').find('.message-name').remove();
                }
            }
            
            
            msgImage.src = "{{ user.userprofile.picture.url|escapejs }}";
            msg.appendChild(msgImage);
            
            msgBubble.appendChild(msgText);
            msgContent.appendChild(msgName);
            
            msgContent.appendChild(msgBubble);
            msg.appendChild(msgContent);
            
            document.querySelector('#chat-log').appendChild(msg);
         

        };
        
        function fetchMessages(){
            chatSocket.send(JSON.stringify({
                'command': 'fetch_messages',
                'room': roomName
            }));
        };
        
        
          
        </script>
    
  {% endblock homeJs %}