<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a92168a32b7d4f4783de059cda81e454 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a92168a32b7d4f4783de059cda81e454" ></div>
        
</body>
<script>    
    
            var map_a92168a32b7d4f4783de059cda81e454 = L.map(
                "map_a92168a32b7d4f4783de059cda81e454",
                {
                    center: [14.644000053405762, 121.03800201416016],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_eccbe81027fd45c688e1bc1c85f8c109 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a92168a32b7d4f4783de059cda81e454);
        
    
            var marker_4f92ebc09532420597fee19c4937941e = L.marker(
                [14.6248901, 121.098257],
                {}
            ).addTo(map_a92168a32b7d4f4783de059cda81e454);
        
    
            var icon_de528c9cb138449cb3ee5d7dee603cf4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4f92ebc09532420597fee19c4937941e.setIcon(icon_de528c9cb138449cb3ee5d7dee603cf4);
        
    
        var popup_eb65d2a41aca4459ba326271d3959b39 = L.popup({"maxWidth": "100%"});

        
            var html_05e60260a5c7494c96a4591ff83ae849 = $(`<div id="html_05e60260a5c7494c96a4591ff83ae849" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/2" target="_self"> <h4 style="margin-bottom:0;">KingCess Dormitory</h4> </a>                                                 <p style="margin-top:0;">43 Capt. Miyong, San Roque, Marikina, Metro Manila, 1801, Philippines</p>                                                 <img src="/media/property_thumbnails/bgfinal_6zaN6C4.png" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_eb65d2a41aca4459ba326271d3959b39.setContent(html_05e60260a5c7494c96a4591ff83ae849);
        

        marker_4f92ebc09532420597fee19c4937941e.bindPopup(popup_eb65d2a41aca4459ba326271d3959b39)
        ;

        
    
    
            var marker_a71b1c1fc56e4b1599ead5d21ee929ce = L.marker(
                [14.6003, 121.006],
                {}
            ).addTo(map_a92168a32b7d4f4783de059cda81e454);
        
    
            var icon_e07c8b33c5d746889ffea12af469d018 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a71b1c1fc56e4b1599ead5d21ee929ce.setIcon(icon_e07c8b33c5d746889ffea12af469d018);
        
    
        var popup_c5671f3e4fa044449502e9041d5fbcd3 = L.popup({"maxWidth": "100%"});

        
            var html_41524cc97ea545d0aecba9a483d5e9d8 = $(`<div id="html_41524cc97ea545d0aecba9a483d5e9d8" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/8" target="_self"> <h4 style="margin-bottom:0;">Dorm 1</h4> </a>                                                 <p style="margin-top:0;">2042 Jose Abad Santos, Santa Mesa, Philippines</p>                                                 <img src="/media/property_thumbnails/architecture-art-building-227675_JhNXCZ7.jpg" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_c5671f3e4fa044449502e9041d5fbcd3.setContent(html_41524cc97ea545d0aecba9a483d5e9d8);
        

        marker_a71b1c1fc56e4b1599ead5d21ee929ce.bindPopup(popup_c5671f3e4fa044449502e9041d5fbcd3)
        ;

        
    
    
            var marker_f78dd47e890e4a1b9b8eada929579c36 = L.marker(
                [14.6467, 121.105],
                {}
            ).addTo(map_a92168a32b7d4f4783de059cda81e454);
        
    
            var icon_af25fcbdb9b340c3b148574e02c43a9e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f78dd47e890e4a1b9b8eada929579c36.setIcon(icon_af25fcbdb9b340c3b148574e02c43a9e);
        
    
        var popup_03e303137e824946a1101eab1c8de002 = L.popup({"maxWidth": "100%"});

        
            var html_5613335d731048f9bfbf0eb63b8dc2e4 = $(`<div id="html_5613335d731048f9bfbf0eb63b8dc2e4" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/9" target="_self"> <h4 style="margin-bottom:0;">Dorm 2</h4> </a>                                                 <p style="margin-top:0;">11 Ephesians, Marikina, Philippines</p>                                                 <img src="/media/property_thumbnails/cropped-1920-1080-744908_wp0utCr.jpg" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_03e303137e824946a1101eab1c8de002.setContent(html_5613335d731048f9bfbf0eb63b8dc2e4);
        

        marker_f78dd47e890e4a1b9b8eada929579c36.bindPopup(popup_03e303137e824946a1101eab1c8de002)
        ;

        
    
</script>