<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3942e818d33545c79f35509ecba82d30 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3942e818d33545c79f35509ecba82d30" ></div>
        
</body>
<script>    
    
            var map_3942e818d33545c79f35509ecba82d30 = L.map(
                "map_3942e818d33545c79f35509ecba82d30",
                {
                    center: [14.644000053405762, 121.03800201416016],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b84a16f02692492781520c1e8a1bd789 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3942e818d33545c79f35509ecba82d30);
        
    
            var marker_114da7601ab344e58838ff9febee6845 = L.marker(
                [14.6248901, 121.098257],
                {}
            ).addTo(map_3942e818d33545c79f35509ecba82d30);
        
    
            var icon_80e4761c0c924ba1a2f9e9bab465776f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_114da7601ab344e58838ff9febee6845.setIcon(icon_80e4761c0c924ba1a2f9e9bab465776f);
        
    
        var popup_0907ae3354604562b3cb5d84166fa2d1 = L.popup({"maxWidth": "100%"});

        
            var html_33e30186f4ec4a1fba10fce8d04574d3 = $(`<div id="html_33e30186f4ec4a1fba10fce8d04574d3" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/2" target="_self"> <h4>KingCess Dormitory</h4> </a>                                                 <img src="/media/property_thumbnails/bgfinal_6zaN6C4.png" alt="Dorm" width="250" height="150"> </div>`)[0];
            popup_0907ae3354604562b3cb5d84166fa2d1.setContent(html_33e30186f4ec4a1fba10fce8d04574d3);
        

        marker_114da7601ab344e58838ff9febee6845.bindPopup(popup_0907ae3354604562b3cb5d84166fa2d1)
        ;

        
    
    
            var marker_4201f93000744d6bbf145925ab2786bb = L.marker(
                [14.6003, 121.006],
                {}
            ).addTo(map_3942e818d33545c79f35509ecba82d30);
        
    
            var icon_4f7348bbe55e45539f2ee2df7be932b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4201f93000744d6bbf145925ab2786bb.setIcon(icon_4f7348bbe55e45539f2ee2df7be932b4);
        
    
        var popup_4e1dc7c7af1349eb88839e8a1c242c0b = L.popup({"maxWidth": "100%"});

        
            var html_579db00a1a7944939cfc19e57ea65a56 = $(`<div id="html_579db00a1a7944939cfc19e57ea65a56" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/5" target="_self"> <h4>Dorm 1</h4> </a>                                                 <img src="/media/property_thumbnails/architecture-art-building-227675.jpg" alt="Dorm" width="250" height="150"> </div>`)[0];
            popup_4e1dc7c7af1349eb88839e8a1c242c0b.setContent(html_579db00a1a7944939cfc19e57ea65a56);
        

        marker_4201f93000744d6bbf145925ab2786bb.bindPopup(popup_4e1dc7c7af1349eb88839e8a1c242c0b)
        ;

        
    
</script>