<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_06fda3c9c3a44266ba847da359a325b3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_06fda3c9c3a44266ba847da359a325b3" ></div>
        
</body>
<script>    
    
            var map_06fda3c9c3a44266ba847da359a325b3 = L.map(
                "map_06fda3c9c3a44266ba847da359a325b3",
                {
                    center: [14.644000053405762, 121.03800201416016],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3cff7592a3e24ecb87a5e50002dee2fb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_06fda3c9c3a44266ba847da359a325b3);
        
    
            var marker_d2270bbab1bb447581ba5d694b719d84 = L.marker(
                [14.6248901, 121.098257],
                {}
            ).addTo(map_06fda3c9c3a44266ba847da359a325b3);
        
    
            var icon_5fadeeb50973429eb7be4dd08f151838 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d2270bbab1bb447581ba5d694b719d84.setIcon(icon_5fadeeb50973429eb7be4dd08f151838);
        
    
        var popup_755f0569f2694926aacf5946d7996d56 = L.popup({"maxWidth": "100%"});

        
            var html_7196cc1b32a74f998181b65cc9846684 = $(`<div id="html_7196cc1b32a74f998181b65cc9846684" style="width: 100.0%; height: 100.0%;">KingCess Dormitory</div>`)[0];
            popup_755f0569f2694926aacf5946d7996d56.setContent(html_7196cc1b32a74f998181b65cc9846684);
        

        marker_d2270bbab1bb447581ba5d694b719d84.bindPopup(popup_755f0569f2694926aacf5946d7996d56)
        ;

        
    
    
            var marker_4be74bff3c42480591ff52e757870b8a = L.marker(
                [14.6002507, 121.0061418],
                {}
            ).addTo(map_06fda3c9c3a44266ba847da359a325b3);
        
    
            var icon_953104e6dde04b6a9a77b6884087171f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4be74bff3c42480591ff52e757870b8a.setIcon(icon_953104e6dde04b6a9a77b6884087171f);
        
    
        var popup_14ee23a41e5842e991856c9d73925ad7 = L.popup({"maxWidth": "100%"});

        
            var html_2e94713482514881834eb81dda7d0439 = $(`<div id="html_2e94713482514881834eb81dda7d0439" style="width: 100.0%; height: 100.0%;">Arjan Dormitory</div>`)[0];
            popup_14ee23a41e5842e991856c9d73925ad7.setContent(html_2e94713482514881834eb81dda7d0439);
        

        marker_4be74bff3c42480591ff52e757870b8a.bindPopup(popup_14ee23a41e5842e991856c9d73925ad7)
        ;

        
    
</script>