{% extends 'home/base.html' %}
{% load static %}

{% block css %}
    <style>
    #tab-1.page-content {
            background-image: url("/static/user/images/white-background.png") !important;
    }
    </style>
{% endblock css %}
    

    
{% block home_content %}
<div class="tabs-swipeable-wrap">
    <!-- <div class="tabs swiper-wrapper"> -->
    <div id="tab-1" class="page-content">
        <div class="block margin-top-half">
            <div class="row">
                <div class="col-50">
                    <div class="float-left">

                        <div class="row">
                            <div class="col-100">
                                <h1 class="username no-margin-bottom">Hello {{ user.username }}!</h1>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-100">
                                <h4 class="no-margin">Looking for a dormitory?</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-50">
                    <div class="float-right">
                        <div class="float-right margin-right margin-top">
                            <a href="{% url 'user:user_profile' pk=user.pk %}" class="link external">
                                <img src="{% static 'home/images/user-icon.png' %}" alt="View User">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--block end-->
    </div> <!--page content end-->
    <!-- </div>tabs end -->
</div><!--swipeable wrap-->
{% endblock home_content %}
    

{% block homeJs %}
    <script src="{% static '/plugins/jquery/jquery.js' %}"></script>
    <script>
        $('a.search-tab').addClass('tab-link-active');
        $('.tab-link-highlight').remove();
    </script>
{% endblock homeJs %}
    