{% extends 'user/base.html' %}
{% load static %}
{% block userCss %}
    <style>
        .page-content {
            background-image: url("/static/user/images/white-background.png") !important;
        }
    </style>
{% endblock userCss %}
<!-- SECTION Logo -->
{% block logo %}
    
{% endblock logo %}
<!-- SECTION CONTENT -->
{% block content %}
<!-- SECTION Back Button -->
    <div class="row">
        <div class="col-10 padding">
            <a class="link external" href="{% url 'user:user_login' %}">
                <i class="f7-icons back-btn">arrow_left</i>
            </a>
        </div>
        <div class="col-80 text-align-center no-margin-left no-padding-left">
            <h2>Forgot Password</h2>
        </div>
        <div class="col-10">
            <!-- Keep empty for spacing -->
        </div>
    </div>
<!-- SECTION Image -->
    <div class="row">
        <div class="col-100 text-align-center">
            <div class="padding">
                <img src="{% static 'user/images/padlock.png' %}" alt="Forgot Password">
              </div>
        </div>
    </div>
<!-- SECTION Instruction -->
    <div class="row text-align-center">
        <div class="col-100">
            <span class="instruct-text">Enter the registered email address</span>
        </div>
        <div class="col-100 padding-horizontal">
            <span class="extra-instruct">We will email you the link to reset<br>your password</span>
        </div>
    </div>
<!-- SECTION Email Address -->
<div class="row">
    <div class="col-10">
        <!-- Keep empty for spacing -->
    </div>
    <div class="col-80 no-padding-vertical">
        <div class="list">
            <ul>
                <li class="item-content item-input item-input-outline">
                <div class="item-inner">
                    <div class="item-title  item-floating-label">Name</div>
                    <div class="item-input-wrap">
                    <input type="text" name="name" width="100%">
                    <span class="input-clear-button"></span>
                    </div>
                </div>
                </li>
            </ul>
            </div>
    </div><!--col-80 end-->
    <div class="col-10">
        <!-- Keep empty for spacing -->
    </div>
</div>
<!-- SECTION Submit Button -->
<div class="row justify-content-center">
    <div class="col-33">
        <button class="button button-round button-large button-fill">SUBMIT</button>
    </div>
</div>
{% endblock content %}
    
    