{% extends 'user/base.html' %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-100">
        <p class="text-align-center text-color-white block-title-large no-margin signin-title">SIGN IN</p>
    </div>
</div>
    <div class="row">
        <div class="col-100">
            <div class="card margin card-signin">
                <div class="card-content padding">
                    <form action="{% url 'user:user_login' %}" method="POST" id="login_form">
                        {% csrf_token %}
                        {% if login_form.non_field_errors %}
                            <p class="text-color-red">{{ login_form.non_field_errors }}</p>
                        {% endif %}

                        <div class="list">
                            <ul>
                                {% for field in login_form %}
                                <li class="item-content item-input item-input-outline">
                                    <div class="item-inner">
                                        <div class="item-title margin-bottom-half signin-label">{{ field.label_tag }}</div>
                                        <div class="item-input-wrap">
                                            {{field}}
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <input type="submit" value="ENTER" class="button text-color-black block-title margin-vertical submit-btn"></input>
                    </form>
                </div><!--card content end-->
            </div><!--card-->
        </div><!--col-100-->
    </div><!--row end-->
<!-- SECTION Create Account and Forgot Password -->
<div class="row keep-bottom text-align-center">
    <div class="col-100">
        <div>
            <a class="link external" data-transistion="f7-flip" href="{% url 'user:register' %}">
                <span class="block-title signin-link">Create Account</span>
            </a>
        </div> 
    </div>
    <!-- <div class="col-50 float-right">
        <div class="float-right">
            <a class="link external" data-transistion="f7-flip" href="{% url 'user:user_forgot_password' %}">
                <span class="block-title signin-link">Forgot Password</span>
            </a>
        </div>
    </div> -->
</div>
    
{% endblock content %}