{% extends 'user/base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-100">
            <p class="text-align-center text-color-white block-title-large no-margin">SIGN UP</p>
        </div>
    </div>

    <div class="row">
        <div class="col-100">
            <div class="card">
                <div class="card-content padding-half">
                    <form method="POST" id="registration_form">
                        {% csrf_token %}
                            <div class="list">
                                <ul>
                                    
                                    {% for field in registration_form %}
                                    <li class="item-content item-input item-input-outline">
                                        <div class="item-inner">
                                            <div class="item-title margin-bottom-half signin-label">{{ field.label_tag }}</div>
                                            <div class="item-input-wrap">
                                                {{field}}
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}

                                    
                                    {% if field.help_text %}
                                        <small class="text-color-gray">{{field.help_text}}</small>
                                    {% endif %}

                                    {% for error in field.errors %}
                                        <small class="text-color-red">{{error}}</small>
                                    {% endfor %}
                                        

                                </ul>
                            </div>

                    <input type="submit" value="ENTER" class="button text-color-black block-title margin-vertical submit-btn"></input>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- SECTION Sign In and Forgot Password -->
<div class="row">
    <div class="col-50">
        <div class="float-left">
            <a class="link external" data-transistion="f7-flip" href="{% url 'user:user_login' %}">
                <span class="block-title signin-link">Sign In</span>
            </a>
        </div>
</div>
<div class="col-50 float-right">
    <div class="float-right">
        <a class="link external" data-transistion="f7-flip" href="{% url 'user:user_forgot_password' %}">
            <span class="block-title signin-link">Forgot Password</span>
        </a>
    </div>
    </div>

{% block custom_js %}
    <script src="{% static 'user/js/register.js' %}"></script>
{% endblock custom_js %}


{% endblock content %}


    
    