/* SECTION FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.page-content {
    /* Location of the image */
    background-image: url("/static/user/images/login-background.png") !important;
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #ffffff;
}
/* SECTION CARD */
.card-signin {
   border-radius: 40px !important;
   box-shadow: -13px 24px 21px rgba(0, 0, 0, 0.25);
   margin-left: 30px !important;
   margin-right: 30px !important;
}

/* SECTION Input */
.signin-label {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: larger !important;
   line-height: 25px;
   letter-spacing: 0.1em;
   text-indent: 7px;
   color: #000000;
}

/* SECTION Button */
.submit-btn {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: x-large !important;
   line-height: 27px;
}
.submit-btn:hover, .back-btn:hover {
   color: #5660F1 !important;
}


/* SECTION Link Row */
.keep-bottom {
   position: absolute !important;
   bottom: 0 !important;
   width: 100% !important;
}

/* SECTION Link */
.signin-link {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: larger !important;
   text-decoration-line: underline;
   color: #444444;
   text-decoration: underline;
}

.signin-link:hover {
   color: #5660F1 !important;
}

.signin-title {
   font-family: 'Roboto', sans-serif;
}

/* SECTION Labels */
.instruct-text {
   font-size: larger !important;
   font-style: normal;
   font-weight: 600;
}
.extra-instruct {
   font-size: large;
   color: #444444;
   font-weight: 400;
}

