/* ANCHOR FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* SECTION TEXT SIZES */
.size-22 { font-size: 22px }
.size-25 { font-size: 25px }
.size-29 { font-size: 29px }
.size-40 { font-size: 40px }

/* SECTION Colors */
.color-scheme1 {
    color: #5660F1;
}

/* ANCHOR  Home */

/* SECTION Text Styles */

.username {
    text-transform: capitalize;
}
.quick-btn-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: small;
    text-align: center;
    letter-spacing: -0.06em;
    line-height: 80% !important;
    text-transform: uppercase;
    color: #444;
    text-align: center;
}
.quick-btn-text:hover {
    color: #5660F1;
}

.upload-text {
    font-weight: bold;
    font-size: large;
}

.thumbnail-description {
    color: #666;
    font-size: small;
}

.text-large {
    font-size: large;
}

/* SECTION Card */
.card-property {
    background-color: #5660F1;
}
.card-label {
    font-family: 'PT Sans Caption', sans-serif;
    border-bottom: 3px solid #fff;
    padding-bottom: 3px;
    width: 40%;
}
.card-label-small {
    font-family:'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: small;
    line-height: 20px;
}

/* SECTION Circle */
.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 20px;

    background: #fff;
    border: 2px solid #fff;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

/* SECTION Image Upload Button */
.dashed-repeating-gradient {
    padding: 10px;
    background-image: repeating-linear-gradient(to right, #c4c4c4 0%, #c4c4c4 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to right, #c4c4c4 0%, #c4c4c4 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, #c4c4c4 0%, #c4c4c4 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, #c4c4c4 0%, #c4c4c4 50%, transparent 50%, transparent 100%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
}

.image-upload-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-hide {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#property-image-default, .property-image-default {
    width: 100%;
    min-height: 100%;
}

/* SECTION Margins */
.add-property-margin {
    margin-top: -35px;
}

/* SECTION Buttons */

/* SECTION Submit Button */
.submit-btn {
    width: 33.33% !important;;
}

.submit-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

