<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0c040d30dc1541028ce458c94b4d43f3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0c040d30dc1541028ce458c94b4d43f3" ></div>
        
</body>
<script>    
    
            var map_0c040d30dc1541028ce458c94b4d43f3 = L.map(
                "map_0c040d30dc1541028ce458c94b4d43f3",
                {
                    center: [14.533329963684082, 121.0666732788086],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_607b759b07744742baca02ae1954355a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0c040d30dc1541028ce458c94b4d43f3);
        
    
            var marker_09cdc8bc28674153acb25562461d3104 = L.marker(
                [14.6018774, 121.0302808],
                {}
            ).addTo(map_0c040d30dc1541028ce458c94b4d43f3);
        
    
            var icon_c61d8ce4e2784f748144cdea085544ae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_09cdc8bc28674153acb25562461d3104.setIcon(icon_c61d8ce4e2784f748144cdea085544ae);
        
    
        var popup_b562a25c1c754e97acbf6abf3cf21cb4 = L.popup({"maxWidth": "100%"});

        
            var html_f879ab910c464ee8b7e7b7a4bf918e76 = $(`<div id="html_f879ab910c464ee8b7e7b7a4bf918e76" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/1" target="_self"> <h4 style="margin-bottom:0;">Part25</h4> </a>                                                 <p style="margin-top:0;">26 Cypress, Manila, Metro Manila</p>                                                 <img src="/media/property_thumbnails/maxresdefault_7c0Xkag.jpeg" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_b562a25c1c754e97acbf6abf3cf21cb4.setContent(html_f879ab910c464ee8b7e7b7a4bf918e76);
        

        marker_09cdc8bc28674153acb25562461d3104.bindPopup(popup_b562a25c1c754e97acbf6abf3cf21cb4)
        ;

        
    
    
            var marker_e43a530292f6449994ceace8df656c25 = L.marker(
                [14.6016947, 121.0321465],
                {}
            ).addTo(map_0c040d30dc1541028ce458c94b4d43f3);
        
    
            var icon_15fbf3ccd0ba46619807143d2541dd36 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e43a530292f6449994ceace8df656c25.setIcon(icon_15fbf3ccd0ba46619807143d2541dd36);
        
    
        var popup_c7c38265f6044cd49bd15d3de8a73df4 = L.popup({"maxWidth": "100%"});

        
            var html_74703083b84f4bee9e7c9cd57680e361 = $(`<div id="html_74703083b84f4bee9e7c9cd57680e361" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/3" target="_self"> <h4 style="margin-bottom:0;">Zen</h4> </a>                                                 <p style="margin-top:0;">224 B. Padilla, Manila, Metro Manila</p>                                                 <img src="/media/property_thumbnails/Adelaide_gNQYrCw.jpeg" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_c7c38265f6044cd49bd15d3de8a73df4.setContent(html_74703083b84f4bee9e7c9cd57680e361);
        

        marker_e43a530292f6449994ceace8df656c25.bindPopup(popup_c7c38265f6044cd49bd15d3de8a73df4)
        ;

        
    
    
            var marker_64c3639da18440f49397171171cfbe5f = L.marker(
                [14.5965, 121.012],
                {}
            ).addTo(map_0c040d30dc1541028ce458c94b4d43f3);
        
    
            var icon_b85376181b294a1296965bf1486bb751 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_64c3639da18440f49397171171cfbe5f.setIcon(icon_b85376181b294a1296965bf1486bb751);
        
    
        var popup_44ebf2d7ecac48078c4b7cce68f06283 = L.popup({"maxWidth": "100%"});

        
            var html_435205557a8f4d3f85c4584d984388d5 = $(`<div id="html_435205557a8f4d3f85c4584d984388d5" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/4" target="_self"> <h4 style="margin-bottom:0;">KingCess Dormitory</h4> </a>                                                 <p style="margin-top:0;">627 Anonas, Santa Mesa, Philippines</p>                                                 <img src="/media/property_thumbnails/Adelaide.jpeg" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_44ebf2d7ecac48078c4b7cce68f06283.setContent(html_435205557a8f4d3f85c4584d984388d5);
        

        marker_64c3639da18440f49397171171cfbe5f.bindPopup(popup_44ebf2d7ecac48078c4b7cce68f06283)
        ;

        
    
    
            var marker_f581d99caef746c0a67cc5a8c241112a = L.marker(
                [14.6003, 121.006],
                {}
            ).addTo(map_0c040d30dc1541028ce458c94b4d43f3);
        
    
            var icon_b7ab6471e30148e1b72c1cb63f5c67f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f581d99caef746c0a67cc5a8c241112a.setIcon(icon_b7ab6471e30148e1b72c1cb63f5c67f7);
        
    
        var popup_1b5be5769bcc4b5d93223c31570d513f = L.popup({"maxWidth": "100%"});

        
            var html_eca8bfec59654ea5a7a660bf5624e9b5 = $(`<div id="html_eca8bfec59654ea5a7a660bf5624e9b5" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/5" target="_self"> <h4 style="margin-bottom:0;">Greenfield</h4> </a>                                                 <p style="margin-top:0;">2042 Jose Abad Santos, Santa Mesa, Philippines</p>                                                 <img src="/media/property_thumbnails/hqdefault.jpeg" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_1b5be5769bcc4b5d93223c31570d513f.setContent(html_eca8bfec59654ea5a7a660bf5624e9b5);
        

        marker_f581d99caef746c0a67cc5a8c241112a.bindPopup(popup_1b5be5769bcc4b5d93223c31570d513f)
        ;

        
    
    
            var marker_6c71ee87211b49e7bf0a1121711ebe4d = L.marker(
                [14.6248, 121.098],
                {}
            ).addTo(map_0c040d30dc1541028ce458c94b4d43f3);
        
    
            var icon_36fddaad79254f38b023a038d1b50a36 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6c71ee87211b49e7bf0a1121711ebe4d.setIcon(icon_36fddaad79254f38b023a038d1b50a36);
        
    
        var popup_7871ed6b627e498488b558fa3e03371a = L.popup({"maxWidth": "100%"});

        
            var html_03d71f130d0c489ebc50cbbdb7db67e5 = $(`<div id="html_03d71f130d0c489ebc50cbbdb7db67e5" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/6" target="_self"> <h4 style="margin-bottom:0;">Red's</h4> </a>                                                 <p style="margin-top:0;">43 Capt. Miyong, Marikina, Philippines</p>                                                 <img src="/media/property_thumbnails/maxresdefault.jpeg" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_7871ed6b627e498488b558fa3e03371a.setContent(html_03d71f130d0c489ebc50cbbdb7db67e5);
        

        marker_6c71ee87211b49e7bf0a1121711ebe4d.bindPopup(popup_7871ed6b627e498488b558fa3e03371a)
        ;

        
    
    
            var marker_93ef3bc0297d4bf98f139551c6eb586c = L.marker(
                [14.6467, 121.105],
                {}
            ).addTo(map_0c040d30dc1541028ce458c94b4d43f3);
        
    
            var icon_1ecbe9c0148e45dd8c3c8d60133020fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_93ef3bc0297d4bf98f139551c6eb586c.setIcon(icon_1ecbe9c0148e45dd8c3c8d60133020fa);
        
    
        var popup_63639dec683b4fe183679932f26c1ac1 = L.popup({"maxWidth": "100%"});

        
            var html_a775c23b7f47481eab6cf720bcf724a5 = $(`<div id="html_a775c23b7f47481eab6cf720bcf724a5" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/7" target="_self"> <h4 style="margin-bottom:0;">Heaven Dorm</h4> </a>                                                 <p style="margin-top:0;">11 Ephesians, Marikina, Philippines</p>                                                 <img src="/media/property_thumbnails/IMG_20180922_095228.jpeg" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_63639dec683b4fe183679932f26c1ac1.setContent(html_a775c23b7f47481eab6cf720bcf724a5);
        

        marker_93ef3bc0297d4bf98f139551c6eb586c.bindPopup(popup_63639dec683b4fe183679932f26c1ac1)
        ;

        
    
    
            var marker_2b00de0bb98446358fd999c1b09faf7a = L.marker(
                [14.2899, 122.692],
                {}
            ).addTo(map_0c040d30dc1541028ce458c94b4d43f3);
        
    
            var icon_248984a7419f473ba8dd66b84b86d43d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2b00de0bb98446358fd999c1b09faf7a.setIcon(icon_248984a7419f473ba8dd66b84b86d43d);
        
    
        var popup_2fbe661b02c8435395b06af269ac84ff = L.popup({"maxWidth": "100%"});

        
            var html_549ece5924d041018a607f90073bf0b3 = $(`<div id="html_549ece5924d041018a607f90073bf0b3" style="width: 100.0%; height: 100.0%;">   <a href="/tenant/search/property/8" target="_self"> <h4 style="margin-bottom:0;">Bicol's Finest</h4> </a>                                                 <p style="margin-top:0;">Jose Panganiban, Camarines Norte, Philippines</p>                                                 <img src="/media/property_thumbnails/sorsogon-old-houses-1.jpeg" alt="Dorm" width="250" height="150"></div>`)[0];
            popup_2fbe661b02c8435395b06af269ac84ff.setContent(html_549ece5924d041018a607f90073bf0b3);
        

        marker_2b00de0bb98446358fd999c1b09faf7a.bindPopup(popup_2fbe661b02c8435395b06af269ac84ff)
        ;

        
    
</script>