<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
<!-- SECTION META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Color theme for statusbar (Android only) -->
        <meta name="theme-color" content="#2196f3">

        <title>Dorm Hunt App</title>
<!-- SECTION STYLES -->
        <link rel="stylesheet" href="{% static '/plugins/framework7/core/css/framework7.bundle.min.css' %}">
        <link rel="stylesheet" href="{% static '/plugins/framework7/icons/css/framework7-icons.css' %}">
        <link rel="stylesheet" href="{% static '/home/home.css' %}">
        <link rel="stylesheet" href="{% static '/tenant/css/tenant.css' %}">

<!-- SECTION Fontawesome Icons -->
        <link rel="stylesheet" href="{% static '/plugins/fontawesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static '/plugins/fontawesome/css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static '/plugins/fontawesome/css/brands.css' %}">
        <link rel="stylesheet" href="{% static '/plugins/fontawesome/css/solid.css' %}">
        
        {% block css %}
          
        {% endblock css %}
          
    </head>
<!-- SECTION MAIN CONTENT -->
    <body>
       
<!-- App root element -->
<div id="app">

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
      <!-- Initial Page, "data-name" contains page name -->
      <div data-name="home" class="page">
        <div class="toolbar tabbar toolbar-bottom ">
          <div class="toolbar-inner">
              <a href="{% url 'tenant:tenant' %}" class="tab-link external home-tab"><i class="f7-icons">house_alt_fill</i></a >
              <a href="#tab-2" class="tab-link external message-tab"><i class="f7-icons">envelope</i></a>
              <a href="{% url 'tenant:tenant_favorites' %}" class="tab-link external favorite-tab"><i class="f7-icons">heart_fill</i></a>
              <a href="{% url 'tenant:dorm_search' %}" class="tab-link external search-tab"><i class="f7-icons">search</i></a>
          </div>
        </div>
        
        {% block home_content %}
          
        {% endblock home_content %}
          
        

       

      </div>
    </div>
  </div>




<!-- SECTION SCRIPTS -->
        <!-- <script src="{% static '/plugins/jquery/jquery.js' %}"></script> -->
        <script src="{% static '/plugins/framework7/core/js/framework7.bundle.min.js' %}"></script>
        <script src="{% static '/home/routes.js' %}"></script>
        <script src="{% static '/home/home.js' %}"></script>
       
       {% block homeJs %}
         
       {% endblock homeJs %}
         
    </body>
</html>