<div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Swipeable Tabs</div>
      </div>
    </div>
    <div class="toolbar tabbar toolbar-bottom">
      <div class="toolbar-inner">
        <a href="#tab-1" class="tab-link tab-link-active">Tab 1</a>
        <a href="#tab-2" class="tab-link">Tab 2</a>
        <a href="#tab-3" class="tab-link">Tab 3</a>
      </div>
    </div>
    <div class="tabs-swipeable-wrap">
      <div class="tabs">
        <div id="tab-1" class="page-content tab tab-active">
          <div class="block">
            <p>Tab 1 content</p>
            ...
          </div>
        </div>
        <div id="tab-2" class="page-content tab">
          <div class="block">
            <p>Tab 2 content</p>
            ...
          </div>
        </div>
        <div id="tab-3" class="page-content tab">
          <div class="block">
            <p>Tab 3 content</p>
            ...
          </div>
        </div>
      </div>
    </div>
  </div>