{% extends 'home/base.html' %}
{% load static %}
{% block css %}
  <!-- TODO add separate style.css -->
  <style>
    #tab-1.page-content { 
      background-image: url("/static/home/images/white-background.png") !important;
    } 
  </style>
{% endblock css %}
  

{% block tab-one %}
  <div class="row">
    <div class="col-50">
      <div class="padding">
        <!-- TODO Create a function to return to previous link -->
        <!-- NOTE This a link is just temporary -->
        <a href="{% url 'home:view_home' %}" class="link external">
          <div class="row back-btn">
            <div class="col-10">
              <i class="f7-icons">chevron_left</i>
            </div>
            <div class="col-90 padding-left">
              Back
            </div>
          </div>
        </a>



      </div>
    </div>
    <div class="col-50 float-right">
      <div class="padding float-right">
        <a class="link external" data-transistion="f7-flip" href="{% url 'home:update_user' %}">
          <img src="{% static 'home/images/edit-btn.png' %}" alt="Edit">
        </a>
      </div>
    </div>
  </div>
  <!-- SECTION User Image -->
  <div class="row">
    <div class="col-100 text-align-center">
      <div class="">
        <img src="{% static 'home/images/default-user-profile-image.png' %}" alt="User Image">
      </div>
    </div>
  </div>
  <!-- SECTION User Profile Name -->
  <div class="row">
    <div class="col-100 text-align-center">
      <h1 class="no-margin">My Account</h1>
      
    </div>
  </div>
  <!-- SECTION ACCOUNT TYPES -->
  <div class="row justify-content-center">
    <div class="col-33">
      <div class="account-type-label text-align-center">
        {{ user.user_type }}
      </div>
    </div>
  </div>
  <!-- SECTION  ACCOUNT TYPE LABEL FOR LANDLORD -->
  <!-- <div class="row justify-content-center">
    <div class="col-33">
      <div class="account-type-label text-align-center">
        LANDLORD
      </div>
    </div>
  </div> -->
  <!-- SECTION Email and Phone Number Card -->
  <div class="card margin-horizontal elevation-6">
    <div class="card-content card-content-padding">
      <div class="row">
        <div class="col-100">
          <!-- SECTION Email -->
          <div class="row">
            <div class="col-10">
              <i class="f7-icons color-scheme1">envelope_circle</i>
            </div>
            <div class="col-90 email-container">
              <span class="email-profile">{{ user.email }}</span>
            </div>
          </div><!--row end-->
          <!-- SECTION Phone Number -->
          <div class="row">
            <div class="col-10">
              <i class="f7-icons color-scheme1">phone_circle</i>
            </div>
            <div class="col-90 email-container">
              <span class="email-profile">0921-846-7838</span>
            </div>
          </div><!--row end-->
        </div>
      </div>
    </div>
  </div>
  <!-- SECTION Other Details -->
  <div class="card margin-horizontal elevation-6">
    <div class="card-content card-content-padding">
      <div class="row">
        <div class="col-100">
          <!-- SECTION Birthday -->
          <div class="row">
            <div class="col-30">
              <b>Birthday:</b>
            </div>
            <div class="col-70">
              October 06, 1998
            </div>
          </div><!--end row-->
          <!-- SECTION Age -->
          <div class="row">
            <div class="col-30">
              <b>Age:</b>
            </div>
            <div class="col-70">
              21 years old
            </div>
          </div><!--end row-->
          <!-- SECTION Emergency Contact Person (optional) -->
          <h4 class="text-align-center">EMERGENCY CONTACT</h4>
          <!-- Contact Person -->
          <div class="row">
            <div class="col-30">
              <b>Name:</b>
            </div>
            <div class="col-70">
              Bobby B. Abarca
            </div>
          </div><!--end row-->
          <!-- Contact Person -->
          <div class="row">
            <div class="col-30">
              <b>Phone:</b>
            </div>
            <div class="col-70">
              09194037225
            </div>
          </div><!--end row-->
        </div>
      </div>
    </div>
  </div>
  <!-- SECTION LOG OUT BUTTON -->
  <div class="row text-align-center">
    <div class="col-100">
      <a class="link external" data-transistion="f7-flip" href="{% url 'user:user_logout' %}">
        <span class="padding-top-half logout-btn color-black">Log Out</span>
      </a>
    </div>
  </div>
{% endblock tab-one %}
  