/* SECTION FONTS */
/* TODO Download all this fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');

/* SECTION COLORS  */
.color-scheme1 { 
    color: #5660F1;
}


/* SECTION CUSTOM TABS */
.tab-link {
    color: #C4C4C4 !important;
}

.tab-link-active {
    color: #5660F1 !important;
}

/* SECTION BACKGROUND */
#tab-1.page-content { 
    background-image: url("/static/home/images/bubble-background.png") !important;
    background-repeat: no-repeat;
    background-size: auto;

} 
#tab-3.page-content { 
  background-image: url("/static/home/images/white-background.png") !important;
  background-repeat: no-repeat;
  background-size: auto;

} 


/* ANCHOR TRANSITION */
.router-transition-f7-cover-forward,
.router-transition-f7-cover-backward {
  background: #000;
  perspective: 1200px;
}
.router-transition-f7-cover-forward .page-next {
  animation: f7-cover-next-to-current 450ms forwards;
}
.router-transition-f7-cover-forward .page-current {
  animation: f7-cover-current-to-prev 450ms forwards;
}
.router-transition-f7-cover-backward .page-current {
  animation: f7-cover-current-to-next 450ms forwards;
}
.router-transition-f7-cover-backward .page-previous {
  animation: f7-cover-prev-to-current 450ms forwards;
}
@keyframes f7-cover-next-to-current {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes f7-cover-current-to-next {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes f7-cover-current-to-prev {
  from {
    transform: translateZ(0);
    opacity: 1;
  }
  to {
    transform: translateZ(-300px);
    opacity: 0.5;
  }
}
@keyframes f7-cover-prev-to-current {
  from {
    transform: translateZ(-300px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* SECTION TEXT STYLES */
.home-subtext {
    opacity: 60%;
    font-size: large;
}

.username {
  text-transform: capitalize;
}

/* SECTION BUTTONS */
.homesearch-btn {
    background-color: #fff;
}

/* Back Button */
.back-btn {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.06em;
    color: #5660F1;
}

/* Log Out Button */
.logout-btn {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000 !important;
    font-weight: 900 !important;
}
.logout-btn:hover {
    color: #5660F1;
}

/* LABELS */
.account-type-label {
    background: rgba(87, 204, 242, 0.25);
    color: #5660F1;
    border-radius: 33px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

/* SECTION TYPOGRAPHY */
.email-profile {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
}
.email-container {
    padding: 4px 0 0 4px;
}

.toolbar-bottom {
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25) !important;
}